.sc-channel-info-popover {
	> div {
		font-weight: cd-fontWeight(500);
		min-width: 280px;

		&:last-child {
			border-radius: 1px;
			margin-top: 30px;
		}

		.sc-channel-info {
			max-height: 400px;
			overflow: auto;
			padding: 10px;

			.sc-panel {
				border-left: 1px solid cd-palette($cd-border, 3004);
				box-shadow: 1px 1px 1px cd-palette($cd-shadow, 4004);

				&:first-child {
					margin: 0;
				}

				&:last-child {
					margin: 10px 0 0;
				}

				&::before {
					display: none;
				}

				.sc-head {
					background-color: cd-palette($cd-background, 2010);
					height: 45px;
					min-height: 45px;
					padding: 10px 15px;

					> div {
						margin: 0;
						padding: 0;
					}
				}

				.sc-details {
					display: block;
					padding: 10px;

					.sc-user {
						list-style: none;

						&:not(:first-child) {
							border-top: 1px solid cd-palette($cd-border, 3004);
							margin-top: 8px;
							padding-top: 8px;
						}

						.sc-title {
							background-color: cd-palette($cd-background, 2010);
							margin-bottom: 10px;
							padding: 2px 6px;
						}

						.sc-desc {
							.sc-avatar {
								border-radius: 5px;
								height: 35px;
								vertical-align: top;
								width: 35px;
							}

							.sc-content {
								display: inline-block;
								margin-left: 10px;
								width: calc(100% - 45px);

								h6 {
									margin-top: -1px;
								}

								p {
									margin-top: -4px;
								}

								a {
									display: block;
									margin-top: -2px;
								}
							}
						}
					}
				}
			}
		}

		// media
		@include cd-media(mobile, smartphone) {
			&:last-child {
				margin-left: 0;
				max-width: 350px;
			}
		}

		@include cd-media(desktop, mini) {
			left: 10px !important;
			min-width: calc(100% - 20px);
		}
	}
}
