.sc-message-form {
	bottom: -78px;
	left: 0;
	padding: 0 15px;
	position: absolute;
	right: 0;

	.sc-button {
		border-radius: 1px;
		margin: 5px 0;

		&:not(:disabled) {
			background-color: cd-palette($cd-background, 2021);
			color: cd-palette($cd-color, 1001);
		}
	}
}