.sc-message-panel {
	position: relative;

	.sc-messages {
		background-color: cd-palette($cd-background, 2001);
		height: calc(100vh - 50px - 75px);
		overflow: auto;
		padding: 15px;

		.sc-channel-info {
			padding: 10px 15px;

			h3 {
				color: cd-palette($cd-color, 1025);
				margin-bottom: 5px;
			}
		}

		.sc-loading-message {
			.sc-fake {
				margin-top: 25px;

				.sc-fake-la {
					animation-duration: 4s;
					animation-fill-mode: forwards;
					animation-iteration-count: infinite;
					animation-name: fakeMessageContent;
					animation-timing-function: linear;
					background: linear-gradient(to right, cd-palette($cd-background, 2003) 8%, cd-palette($cd-background, 2005) 18%, cd-palette($cd-background, 2003) 33%);
				}

				.sc-fake-el-la-one {
					height: 5px;
					margin-bottom: 25px;
				}

				.sc-fake-el-la-two {
					animation-duration: 15s;
					background: linear-gradient(to right, cd-palette($cd-background, 2003) 0%, cd-palette($cd-background, 2005) 9%, cd-palette($cd-background, 2003) 75%);
					border-radius: 4px;
					float: left;
					height: 35px;
					width: 35px;
				}

				.sc-fake-el-la-three {
					height: 20px;
					margin-bottom: 5px;
					margin-left: 45px;
				}

				.sc-fake-el-la-four {
					height: 10px;
					margin-bottom: 5px;
					margin-left: 45px;
				}

				@keyframes fakeMessageContent {
					0% { background-position: -608px 0 }
					50% { background-position: -100px 0 }
					100%{ background-position: 608px 0 }
				}
			}
		}

		.sc-start-conversation {
			border: 1px solid cd-palette($cd-border, 3003);
			margin-top: 20px;

			p {
				background-color: cd-palette($cd-background, 2002);
				color: cd-palette($cd-color, 1025);
				padding: 10px;
				text-align: center;
			}
		}
	}

	// media
	@include cd-media(desktop, smartphone) {
		.sc-messages {
			// 50px: messages header
			// 78px: form
			// 60px: header
			height: calc(100vh - 50px - 78px - (60px + 15px));
		}
	}
}
