.sc-message-content {
	// different user
	&.sc-different {
		border-top: 1px solid cd-palette($cd-border, 3002);
		margin: 20px 0 10px;
		padding-top: 20px;
		position: relative;

		// time
		.sc-time-one {
			font-size: cd-fontSize(s12);
			font-weight: cd-fontWeight(500);
			left: 0;
			position: absolute;
			right: 0;
			text-align: center;
			top: -9px;
			z-index: cd-zIndex(normal);

			&::after {
				background-color: cd-palette($cd-background, 2001);
				bottom: 0;
				content: '';
				left: 0;
				margin: auto;
				position: absolute;
				right: 0;
				top: 0;
				width: 150px;
				z-index: cd-zIndex(hide);
			}
		}

		// content
		.sc-content {
			display: inline-block;
			margin-left: 10px;
			width: calc(100% - 45px);

			.sc-name {
				margin-top: -2px;

				span {
					background-color: cd-palette($cd-background, 2002);
					border-radius: 9px;
					font-size: cd-fontSize(s12);
					margin-left: 5px;
					padding: 1px 5px;
				}
			}
		}
	}

	// continuous user
	&.sc-continuous {
		margin-bottom: 8px;

		// content
		.sc-content {
			margin: 0 0 0 -15px;
			padding-left: 60px;
			padding-right: 5px;
			position: relative;

			&:hover {
				background-color: cd-palette($cd-background, 2002);

				// time
				.sc-time-two {
					color: cd-palette($cd-color, 1006);
					cursor: help;
					display: block;
					font-size: cd-fontSize(s12);
					left: 6px;
					position: absolute;
					top: 3px;
				}
			}

			// time - hidden initially
			.sc-time-two {
				display: none;
			}

			// description
			.sc-description {
				display: inline-block;
				font-size: cd-fontSize(s14);
			}
		}
	}

	// last child
	&:last-child {
		margin-bottom: 0;
	}

	// avatar
	.sc-avatar {
		border-radius: 5px;
		height: 35px;
		vertical-align: top;
		width: 35px;
	}
}
