.sc-messages-header {
	background-color: cd-palette($cd-background, 2022);
	height: 60px;

	.cd-row {
		.cd-col {
			&:first-child {
				.sc-title {
					font-weight: cd-fontWeight(700);
					padding-top: 3px;
				}

				.sc-info {
					align-items: center;
					display: flex;

					> .sc-icon {
						&.sc-l1 {
							.material-icons {
								font-size: cd-fontSize(s15);
							}
						}

						&.sc-l2 {
							.material-icons {
								font-size: cd-fontSize(s18);
							}

							&.sc-active-button {
								&:hover {
									color: cd-palette($cd-color, 1021);
									cursor: pointer;
								}
							}
						}

						span {
							vertical-align: middle;
						}

						.sc-value {
							margin-right: 2px;
						}

						&:not(:last-child) {
							&::after {
								color: cd-palette($cd-color, 1026);
								content: '|';
								margin-left: 5px;
								padding-right: 5px;
								vertical-align: middle;
							}
						}
					}
				}
			}

			&:last-child {
				text-align: right;

				.sc-search {
					margin-top: 14px;
					position: relative;

					input {
						padding-right: 26px;
					}

					.material-icons {
						position: absolute;
						right: 0;
						top: 4px;
					}
				}
			}
		}
	}

	// media
	@include cd-media(desktop, smartphone) {
		.cd-row {
			.cd-col {
				&:first-child {
					padding-right: 8px;
				}

				&:last-child {
					padding-left: 8px;
				}
			}
		}
	}
}

// menu - user info
.sc-users-list-menu {
	> div {
		border-radius: 0;
		margin-left: 15px;
		top: 55px !important;

		ul {
			max-height: 300px;
			min-width: 200px;
			overflow-y: auto;
			padding: 5px 0;

			li {
				border-bottom: 1px solid cd-palette($cd-border, 3002);
				cursor: default;
				display: block;
				height: auto;
				padding: 6px 15px;

				&:hover {
					background-color: cd-palette($cd-background, 2002);
				}

				&:last-child {
					border-bottom: none;
					padding-bottom: 0;
				}

				.sc-item {
					.sc-avatar {
						border-radius: 5px;
						height: 35px;
						vertical-align: top;
						width: 35px;
					}

					.sc-content {
						display: inline-block;
						margin-left: 10px;
						width: calc(100% - 45px);

						.sc-name {
							margin-top: -2px;
						}

						.sc-email {
							font-size: 14px;
							margin-top: -7px;
						}
					}
				}
			}
		}
	}
}
