.sc-message-panel {
	position: relative;

	.sc-messages {
		background-color: cd-palette($cd-background, 2001);
		height: calc(100vh - 50px - 75px);
		overflow: auto;
		padding: 15px;

		.sc-channel-info {
			padding: 10px 25px;

			h3 {
				color: cd-palette($cd-color, 1025);
			}
		}
	}

	// media
	@include cd-media(desktop, smartphone) {
		.sc-messages {
			// 50px: messages header
			// 78px: form
			// 60px: header
			height: calc(100vh - 50px - 78px - (60px + 15px));
		}
	}
}
