.sc-message-form {
	background-color: cd-palette($cd-background, 2001);
	bottom: -75px;
	left: 0;
	padding: 5px 15px 0;
	position: absolute;
	right: 0;
	z-index: cd-zIndex(normal);

	// error
	.sc-error {
		p {
			background-color: cd-palette($cd-background, 2010);
			border-radius: 2px;
			color: cd-palette($cd-color, 1001);
			margin-bottom: 3px;
			padding: 3px 10px;
		}
	}

	// form
	.sc-form {
		position: relative;

		Textarea {
			background-color: cd-palette($cd-background, 2001);
			border: 1px solid cd-palette($cd-border, 3005);
			max-height: 200px;
			overflow: auto;
			padding: 10px 60px 10px 10px;
		}

		.sc-buttons {
			background-color: cd-palette($cd-background, 2002);
			bottom: 7px;
			height: 24px;
			padding: 3px 6px;
			position: absolute;
			right: 1px;

			span {
				color: cd-palette($cd-color, 1025);
				font-size: 20px;
				margin-right: 3px;

				&:hover {
					color: cd-palette($cd-color, 1021);
					cursor: pointer;
				}

				&:last-child {
					margin-right: 0;
				}
			}
		}
	}
}
