.sc-messages-header {
	background-color: cd-palette($cd-background, 2022);
	height: 60px;

	.cd-row {
		.cd-col {
			h5 {
				padding-top: 3px;

				.material-icons {
					font-size: cd-fontSize(s18);
					margin-left: 4px;
					vertical-align: middle;

					&:hover {
						color: cd-palette($cd-color, 1021);
						cursor: pointer;
					}
				}
			}

			.sc-info {
				align-items: center;
				display: flex;

				> .sc-icon {
					&.sc-l1 {
						.material-icons {
							font-size: cd-fontSize(s15);
						}
					}

					&.sc-l2 {
						.material-icons {
							font-size: cd-fontSize(s18);
						}

						&:hover {
							color: cd-palette($cd-color, 1021);
							cursor: pointer;
						}
					}

					span {
						vertical-align: middle;
					}

					.sc-value {
						margin-right: 2px;
					}

					&:not(:last-child) {
						&::after {
							content: '|';
							margin-left: 5px;
							padding-right: 5px;
							vertical-align: middle;
						}
					}
				}
			}
		}
	}
}
