// Color
$cd-color: (
	1001: #ffffff,
	1002: #4d394b,
	1003: #3e313c,
	1006: #717274,
	1020: #62c2a0,
	1021: #e01958,
	1022: #ecb32c,
	1023: #89d3e0
);

// Background Color
$cd-background: (
	2000: #000000,
	2001: #ffffff,
	2002: #f8f8f8,
	2003: #efefef,
	2006: #717274,
	2010: #e74c3c,
	2016: #71c578,
	2020: #62c2a0,
	2021: #e01958,
	2022: #ecb32c,
	2024: #4d394b,
	2025: #3e313c
);

// Border
$cd-border: (
	3000: #000000,
	3001: #ffffff,
	3002: #f8f8f8,
	3003: #efefef,
	3024: #4d394b,
	3025: #3e313c
);

// Box Shadow
$cd-shadow: (
	4000: #000000,
	4003: #efefef,
	4021: #e01958
);
