{
	"defaultSeverity": "warning",
	"plugins": [
		"stylelint-order"
	],
	"rules": {
		"color-hex-case": "lower",
		"color-hex-length": "long",
		"color-named": "never",
		"color-no-invalid-hex": true,

		"font-family-name-quotes": "always-where-recommended",
		"font-family-no-duplicate-names": true,

		"value-keyword-case": "lower",
		"value-no-vendor-prefix": true,

		"number-leading-zero": "never",
		"number-max-precision": 2,
		"number-no-trailing-zeros": true,

		"string-no-newline": true,
		"string-quotes": "single",

		"unit-blacklist": ["em"],
		"unit-case": "lower",
		"unit-no-unknown": true,

		"property-case": "lower",
		"property-no-unknown": true,
		"property-no-vendor-prefix": true,

		"selector-max-attribute": 0,
		"selector-max-id": 0,
		"selector-no-vendor-prefix": true,

		"function-comma-space-after": "always",
		"function-parentheses-space-inside": "never",
		"function-max-empty-lines": 0,
		"function-calc-no-unspaced-operator": true,

		"block-no-empty": true,
		"block-closing-brace-empty-line-before": "never",

		"comment-no-empty": true,
		"indentation": "tab",
		"length-zero-no-unit": true,
		"no-duplicate-selectors": true,
		"no-eol-whitespace": true,
		"no-extra-semicolons": true,
		"no-invalid-double-slash-comments": true,
		"shorthand-property-no-redundant-values": true,
		"order/order": [
			"custom-properties",
			"declarations"
		],
		"order/properties-alphabetical-order": true
	}
}
