// Color
$cd-color: (
	1000: #000000,
	1001: #ffffff,
	1002: #f8f8f8,
	1003: #efefef,
	1004: #e4e4e4,
	1005: #e2e2e2,
	1006: #848080,
	1007: #696969,
	1008: #6a6c6d,
	1009: #333333,
	1010: #e74c3c,
	1011: #e67e22,
	1012: #c0ca33,
	1013: #2196f3,
	1014: #0288d1,
	1015: #01579b,
	1016: #71c578,
	1017: #00458e,
	1018: #f5f7fa,
	1019: #737272
);

// Background Color
$cd-background: (
	2000: #000000,
	2001: #ffffff,
	2002: #f8f8f8,
	2003: #efefef,
	2004: #e4e4e4,
	2005: #e2e2e2,
	2006: #848080,
	2007: #696969,
	2008: #6a6c6d,
	2009: #333333,
	2010: #e74c3c,
	2011: #e67e22,
	2012: #c0ca33,
	2013: #2196f3,
	2014: #0288d1,
	2015: #01579b,
	2016: #71c578,
	2017: #00458e,
	2018: #f5f7fa,
	2019: #737272
);

// Border
$cd-border: (
	3000: #000000,
	3001: #ffffff,
	3002: #f8f8f8,
	3003: #efefef,
	3004: #e4e4e4,
	3005: #e2e2e2,
	3006: #848080,
	3007: #696969,
	3008: #6a6c6d,
	3009: #333333,
	3010: #e74c3c,
	3011: #e67e22,
	3012: #c0ca33,
	3013: #2196f3,
	3014: #0288d1,
	3015: #01579b,
	3016: #71c578,
	3017: #00458e,
	3018: #f5f7fa,
	3019: #737272
);

// Box Shadow
$cd-shadow: (
	4000: #000000,
	4001: #ffffff,
	4002: #f8f8f8,
	4003: #efefef,
	4004: #e4e4e4,
	4005: #e2e2e2,
	4006: #848080,
	4007: #696969,
	4008: #6a6c6d,
	4009: #333333,
	4010: #e74c3c,
	4011: #e67e22,
	4012: #c0ca33,
	4013: #2196f3,
	4014: #0288d1,
	4015: #01579b,
	4016: #71c578,
	4017: #00458e,
	4018: #f5f7fa,
	4019: #737272
);
