a, .cd-link {
	color: cd-palette($cd-color, 1013);

	&:visited {
		color: cd-palette($cd-color, 1015);
	}

	&:hover {
		color: cd-palette($cd-color, 1014);
		opacity: .9;
	}

	&:active, &.cd-active {
		color: cd-palette($cd-color, 1016);
	}

	&.cd-disabled {
		color: cd-palette($cd-color, 1007);
		opacity: .4;
		pointer-events: none;
	}
}
