// variables
$cd-triangle-border-primary: cd-palette($cd-border, 3003);

// mixin
@mixin cd-triangle($size: 100px, $direction: 'bottom-left', $pueudo: false, $color: transparent) {
	// Pueudo Classes
	@if $pueudo == true {
		content: '';
	}

	// === Directions: Top & Bottom === //
	// Top - Left / Right
	// Bottom - Left / Right
	@if $direction == 'bottom-left' {
		border-bottom: $size solid $cd-triangle-border-primary;
		border-right: $size solid $color;
	} @else if $direction == 'bottom-right' {
		border-bottom: $size solid $cd-triangle-border-primary;
		border-left: $size solid $color;
	} @else if $direction == 'top-left' {
		border-right: $size solid $color;
		border-top: $size solid $cd-triangle-border-primary;
	} @else if $direction == 'top-right' {
		border-left: $size solid $color;
		border-top: $size solid $cd-triangle-border-primary;
	}
}
