.sc-channels {
	margin-top: 20px;
	padding: 15px;

	.sc-title {
		position: relative;

		h6 {
			border-bottom: 1px solid cd-palette($cd-border, 3025);
			font-weight: cd-fontWeight(700);
			padding: 5px 0;
		}

		.sc-icon-wrapper {
			cursor: pointer;
			height: 18px;
			position: absolute;
			right: 0;
			top: 7px;
			width: 18px;

			.sc-icon {
				span {
					font-size: cd-fontSize(s18);
				}

				&:hover {
					opacity: .9;
				}
			}
		}
	}

	ul {
		margin-top: 5px;

		li {
			padding: 4px;

			&:hover {
				background-color: cd-palette($cd-background, 2025);
			}
		}
	}
}

// modal - form
.sc-channels-modal {
	background-color: cd-palette($cd-background, 2001);
	margin-top: 25px;
	max-width: 400px;
	min-width: 280px;
	outline: 0;

	// header
	.sc-header {
		border-bottom: 1px solid cd-palette($cd-border, 3018);
		margin-top: 15px;
		padding-bottom: 15px;
		text-align: center;
		width: 100%;

		img {
			width: 40px;
		}
	}

	// form
	.sc-form {
		margin-bottom: 15px;

		// error
		.cd-error {
			background-color: cd-palette($cd-background, 2010);
			color: cd-palette($cd-color, 1001);
			margin: 0;
			padding: 5px;
			text-align: center;
		}

		// form fields
		.sc-form-fields {
			padding: 15px 30px 0;

			.sc-form-field {
				margin-bottom: 15px;
			}

			.sc-button {
				border-radius: 1px;
				margin: 5px 0;

				&:not(:disabled) {
					background-color: cd-palette($cd-background, 2021);
					color: cd-palette($cd-color, 1001);
				}
			}
		}
	}
}
