.sc-channels {
	margin-top: 20px;
	padding: 15px;

	// title
	.sc-title {
		position: relative;

		h6 {
			border-bottom: 1px solid cd-palette($cd-border, 3025);
			font-weight: cd-fontWeight(700);
			padding: 5px 0;

			span {
				background-color: cd-palette($cd-background, 2025);
				border-radius: 50%;
				display: inline-block;
				font-size: cd-fontSize(s13);
				height: 18px;
				line-height: cd-lineHeight(1.4);
				margin-left: 5px;
				text-align: center;
				width: 18px;
			}
		}

		.sc-icon-wrapper {
			cursor: pointer;
			height: 18px;
			position: absolute;
			right: 0;
			top: 7px;
			width: 18px;

			.sc-icon {
				span {
					font-size: cd-fontSize(s18);
				}

				&:hover {
					opacity: .9;
				}
			}
		}
	}

	// channels list
	.sc-channels-list {
		margin-top: 5px;

		.sc-item {
			Button {
				background-color: transparent;
				border: none;
				border-radius: 0;
				box-shadow: none;
				color: cd-palette($cd-color, 1006);
				font-size: cd-fontSize(s15);
				height: auto;
				min-height: auto;
				outline: 0;
				padding: 8px 10px;

				&:hover {
					background-color: cd-palette($cd-background, 2025);
					color: cd-palette($cd-color, 1005);
					cursor: pointer;
				}

				span {
					justify-content: left;
				}
			}

			&.sc-active {
				Button {
					background-color: cd-palette($cd-background, 2025);
					color: cd-palette($cd-color, 1005);
				}
			}
		}
	}
}

// modal - channels form
.sc-channels-modal-wrapper {
	background-color: cd-palette($cd-background, 2001);
	bottom: 0;
	height: 100%;
	left: 0;
	overflow: auto;
	position: absolute;
	right: 0;
	top: 0;

	.sc-channels-modal {
		background-color: cd-palette($cd-background, 2001);
		margin: 80px auto 0;
		max-width: 700px;
		outline: 0;
		width: 70%;

		// header
		.sc-header {
			h3 {
				font-weight: cd-fontWeight(700);
			}

			p {
				color: cd-palette($cd-color, 1006);
				margin-top: 10px;
			}
		}

		// form
		.sc-form {
			margin-bottom: 15px;

			// error
			.cd-error {
				background-color: cd-palette($cd-background, 2010);
				color: cd-palette($cd-color, 1001);
				margin: 0;
				padding: 5px;
				text-align: center;
			}

			// form fields
			.sc-form-fields {
				padding: 15px 0 0;

				.sc-form-field {
					margin-bottom: 15px;

					.ts-note {
						color: cd-palette($cd-color, 1006);
						font-size: cd-fontSize(s12);
						margin-top: 5px;
					}
				}

				.sc-button {
					border-radius: 1px;
					float: right;
					margin: 15px 0 0;

					&.sc-cancel {
						margin-right: 5px;
					}

					&:not(:disabled) {
						color: cd-palette($cd-color, 1001);

						&.sc-cancel {
							background-color: cd-palette($cd-background, 2021);
						}

						&.sc-create-channel {
							background-color: cd-palette($cd-background, 2020);
						}
					}
				}
			}
		}
	}

	// media
	@include cd-media(desktop, tablet) {
		.sc-channels-modal {
			margin: 60px auto 0;
			width: 75%;
		}
	}

	@include cd-media(desktop, mini) {
		.sc-channels-modal {
			margin: 40px auto 0;
			width: 80%;

			// form
			.sc-form {
				// form fields
				.sc-form-fields {
					.sc-button {
						width: 100%;

						&.sc-cancel {
							margin: 10px 0 15px;
						}
					}
				}
			}
		}
	}
}
