.sc-user-panel {
	Button {
		padding: 10px 15px;
		position: relative;
		text-align: left;
		text-transform: unset;
		width: 100%;

		span {
			color: cd-palette($cd-color, 1001);
			display: block;

			.sc-type {
				font-weight: cd-fontWeight(700);
			}

			.sc-name {
				color: cd-palette($cd-color, 1005, .5);
				font-size: cd-fontSize(s14);
			}

			.sc-avatar {
				border-radius: 15px;
				height: 30px;
				position: absolute;
				right: 15px;
				top: 15px;
				width: 30px;
			}
		}

		&:hover {
			background-color: cd-palette($cd-background, 2025);
		}
	}
}
