.sc-chat {
	.cd-row {
		margin-left: 240px;

		.cd-mobile-header {
			background-color: cd-palette($cd-background, 2024);
			padding: 6px;
			width: 100%;

			Button {
				color: cd-palette($cd-color, 1001);
			}
		}
	}

	// media
	@include cd-media(desktop, smartphone) {
		.cd-row {
			margin-left: 0;

			&:first-child {
				margin: 0 -15px 15px;
			}
		}
	}
}
