.sc-side-panel-wrapper {
	// color-panel
	.sc-color-panel-wrapper {
		background-color: cd-palette($cd-background, 2003);
		bottom: 0;
		left: 0;
		position: absolute;
		right: 0;
		text-align: center;
		top: 0;
		width: 50px;

		.sc-icons {
			bottom: 10px;
			color: cd-palette($cd-color, 1001);
			left: 0;
			position: absolute;
			right: 0;

			.sc-icon {
				cursor: pointer;
				display: block;
				margin: 5px auto 0;

				&:hover {
					opacity: .9;
				}
			}
		}
	}

	// side-panel
	.sc-side-panel {
		background-color: cd-palette($cd-background, 2002);
		color: cd-palette($cd-color, 1001);
		height: 100vh;
		margin-left: 50px;
		padding: 0;
		width: 220px;

		&.sc-view-fixed {
			bottom: 0;
			left: 0;
			position: absolute;
			right: 0;
			top: 0;
		}
	}
}
