.sc-loading-animation {
	background-color: cd-palette($cd-background, 2001);
	bottom: 0;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: cd-zIndex(loader);

	.sc-svg-wrapper {
		img {
			display: block;
			width: 100px;
		}
	}
}