.cd-modal-wrapper {
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: cd-zIndex(modal);

	&::before {
		background-color: $cd-modal-wrapper-bg-color;
		bottom: 0;
		content: '';
		filter: blur(50px);
		left: 0;
		position: absolute;
		right: 0;
		top: 0;
	}

	.cd-modal {
		@extend .cd-vh-center;
		background-color: $cd-modal-bg-color;
		box-shadow: 0 0 10px 0 $cd-modal-shadow-color;
		display: block;
		max-height: 90%;
		max-width: 90%;
		overflow: auto;
		width: 700px;

		// Messages
		.cd-modal-messages {
			header {
				position: relative;

				.cd-header {
					background-color: $cd-modal-header-default-bg-color;
					padding: 15px;

					&.cd-error {
						background-color: $cd-modal-header-error-bg-color;
					}

					&.cd-success {
						background-color: $cd-modal-header-success-bg-color;
					}

					&.cd-alert {
						background-color: $cd-modal-header-alert-bg-color;
					}

					&.cd-warning {
						background-color: $cd-modal-header-warning-bg-color;
					}

					i {
						color: $cd-modal-header-icon-color;
					}

					h2 {
						color: $cd-modal-header-label-color;
						font-weight: cd-fontWeight(300);
					}
				}

				.cd-close {
					cursor: pointer;
					margin-top: -2px;
					position: absolute;
					right: 5px;
					top: 5px;

					i {
						color: $cd-modal-header-close-icon-color;
					}
				}
			}

			section {
				.cd-content {
					padding: 20px;

					p {
						color: $cd-modal-content-paragraph-color;
					}
				}
			}
		}
	}

	// media
	@include cd-media(desktop, mini) {
		.cd-modal {
			height: 100%;
			max-height: 100%;
			max-width: 100%;
		}
	}
}
