// === Tooltip === //
$cd-tooltip-bg-color:       cd-palette($cd-background, 2000, .8);
$cd-tooltip-arrow-color:    cd-palette($cd-border, 3000, .8);
$cd-tooltip-shadow-color:   cd-palette($cd-shadow, 4000, .1);
$cd-tooltip-color:          cd-palette($cd-color, 1001);
$cd-tooltip-font-size:      cd-fontSize(s14);
$cd-tooltip-margin:         14px;

// === Modal === //
$cd-modal-wrapper-bg-color:				cd-palette($cd-background, 2001, .6);
$cd-modal-bg-color:						cd-palette($cd-background, 2001);
$cd-modal-shadow-color:					cd-palette($cd-shadow, 4000, .1);
$cd-modal-header-default-bg-color:		cd-palette($cd-background, 2008);
$cd-modal-header-error-bg-color:		cd-palette($cd-background, 2010);
$cd-modal-header-success-bg-color:		cd-palette($cd-background, 2016);
$cd-modal-header-alert-bg-color:		cd-palette($cd-background, 2012);
$cd-modal-header-warning-bg-color:		cd-palette($cd-background, 2011);
$cd-modal-header-icon-color:			cd-palette($cd-color, 1001);
$cd-modal-header-label-color:			cd-palette($cd-color, 1001);
$cd-modal-header-close-icon-color:		cd-palette($cd-color, 1009);
$cd-modal-content-paragraph-color:		cd-palette($cd-color, 1009);

// === Navbar === //
$cd-nav-default-bg-color:		cd-palette($cd-background, 2001);
$cd-nav-bg-color:				cd-palette($cd-background, 2002);
$cd-nav-color:					cd-palette($cd-color, 1009);
$cd-nav-hover-bg-color:			cd-palette($cd-background, 2013);
$cd-nav-hover-color:			cd-palette($cd-color, 1001);
$cd-nav-highlight-bg-color:		cd-palette($cd-background, 2002);
$cd-nav-border-color:			cd-palette($cd-border, 3003);
$cd-nav-shadow-color:			cd-palette($cd-shadow, 4004);
