.sc-message-content {
	// different user
	&.sc-different {
		border-top: 1px solid cd-palette($cd-border, 3002);
		margin: 15px 0 5px;
		padding-top: 15px;

		.sc-content {
			display: inline-block;
			margin-left: 10px;
			width: calc(100% - 45px);

			.sc-name {
				margin-top: -2px;

				span {
					background-color: cd-palette($cd-background, 2002);
					border-radius: 9px;
					font-size: cd-fontSize(s12);
					margin-left: 5px;
					padding: 1px 5px;
				}
			}
		}
	}

	// continuous user
	&.sc-continuous {
		margin-bottom: 5px;

		.sc-content {
			padding-left: 45px;

			&:hover {
				background-color: cd-palette($cd-background, 2002);
				border-radius: 9px;
				cursor: help;
			}

			p {
				display: inline-block;
				font-size: cd-fontSize(s14);
			}
		}
	}

	&:last-child {
		margin-bottom: 0;
	}

	// avatar
	.sc-avatar {
		border-radius: 5px;
		height: 35px;
		vertical-align: top;
		width: 35px;
	}
}
