.sc-message-panel {
	.sc-messages {
		background-color: cd-palette($cd-background, 2001);
		height: 400px;
		overflow: auto;
		padding: 15px;

		.sc-channel-info {
			padding: 0 0 10px;

			h3 {
				color: cd-palette($cd-color, 1025);
			}
		}
	}
}
