body {
	margin: 0;
	padding: 0;
}

* {
	box-sizing: border-box;

	&::before, &::after {
		box-sizing: border-box;
	}
}

// === User Selection === //
::selection {
	background-color: cd-palette($cd-background, 2010);
	color: cd-palette($cd-color, 1001);
}

// === Image === //
img {
	max-width: 100%;
	vertical-align: middle;
}

// === Link === //
a {
	text-decoration: none;
}
